argostranslate==1.9.6
Flask==2.2.5
flask-swagger-ui==4.11.1
Flask-Limiter==2.6.3
Flask-Babel==3.1.0
Flask-Session==0.4.0
waitress==2.1.2
requests==2.31.0
prometheus-client==0.15.0
packaging==23.1
polib==1.1.1